.plans-title{
    text-align: center;
    font-family: sans-serif;
    
}
.plans-bio{
    text-align: center;
    font-family: sans-serif;
}
.plans-container{
   
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    gap: 30px;
    padding: 1rem;
    justify-content: space-between;

    
}
.plan{
    min-width: 400px;
    min-height: 400px;
border: 1px solid #444;
min-height: 400px;
width: 46%;
padding: 1rem;
}
.plan-recommended{
    background-color: blue;
    color: #fff;
    padding: 8px;
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: 0;
    left: 33%;
}
.plan-premium{
    position: relative;
}
